PORT=4500

FABRIC_MSP_ID=Org1MSP
FABRIC_CHANNEL=consentchannel
FABRIC_CHAINCODE=consent-ledger

# Gateway gRPC endpoint (peer0 Org1)
FABRIC_PEER_ENDPOINT=localhost:7051

# TLS cert for the peer (server trust)
#FABRIC_TLS_CERT_PATH=/Users/haiderali/Desktop/Kryptos/Blockchain/consent-ledger/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt
FABRIC_TLS_CERT_PATH=/Users/haiderali/Desktop/Kryptos/Blockchain/consent-ledger/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/tlsca/tlsca.org1.example.com-cert.pem

# Client identity
FABRIC_IDENTITY_CERT_PATH=/Users/haiderali/Desktop/Kryptos/Blockchain/consent-ledger/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/signcerts/cert.pem
FABRIC_IDENTITY_KEY_PATH=/Users/haiderali/Desktop/Kryptos/Blockchain/consent-ledger/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/keystore/2f8c525957e9e029e2f8cf5b2da0047fd1a71680071ca89aa5b5f0c6fd11a376_sk

